#banner {
    height: 400px;
    margin-top: 20px;
    padding-top: 20px;
    background-color: rgb(10, 10, 10);

}

.container {
    margin-left: 165px;
    border: none;

}

#boxfour {
    height: 400px;
    margin-top: 45px;
    margin-left: 15px;
    color: aliceblue;
    align-items: center;
    background-color: rgb(10, 10, 10);

}

#boxeight {
    margin-top: 45px;
    height: 560px;
    margin-left: 15px;
    background-color: rgb(10, 10, 10);

}

#img {
    max-height: 185px;
}

#higu {
    height: 175px;
}

#Angel {
    height: 175px;
}

#sabella {
    height: 185px;
}

.budget {
    color: white;
    margin-left: 80px;

}

.perplayer {
    margin-left: 10px;
}

.Manager {
    margin-left: 10px;
}

.Coach {
    margin-left: 30px;
}

#banner-heading {
    font-family: cursive;
    color: rgb(246, 11, 11);
}

#banner-paragraph {
    font-family: cursive
}

.para {
    margin-left: 380px;
}

.banner-image {
    height: 100px;
    padding-left: 550px;
}

.buttonid {
    background-color: rgb(9, 9, 91);
}

.footer {
    height: 150px;
    background-color: black;
}